In [1]:
import pandas as pd
import re
import json

In [2]:
data = pd.read_json("reviews.json", orient="records")

In [3]:
with open("reviews.json", encoding='utf-8', errors='ignore') as json_data:
     data = json.load(json_data, strict=False)

In [4]:
fix = [v for v in data['reviews']]

In [5]:
reviews=pd.DataFrame.from_dict(fix, orient='columns', dtype=None, columns=None)

In [31]:
reviews

In [11]:
detractors = reviews[reviews["stars"]<3]

In [12]:
promotors = reviews[reviews["stars"]>3]

In [13]:
neutral = reviews[reviews["stars"]==3]

In [8]:
st_count = reviews.groupby("stars").count()

In [9]:
st_count

       review_id  user_id  business_id  useful   funny    cool    text    date
stars
1.0        99326    99326        99326   99326   99326   99326   99326   99326
2.0        53249    53249        53249   53249   53249   53249   53249   53249
3.0        72235    72235        72235   72235   72235   72235   72235   72235
4.0       144186   144186       144186  144186  144186  144186  144186  144186
5.0       290558   290558       290558  290558  290558  290558  290558  290558

In [14]:
len(neutral)

72235